
.list {
  a:hover {
    opacity: 1;
    li {
      .list__hero {
        div {
          img {
              opacity: 0.8;
              transition: opacity 0.3s ease;
          }
        }
      }
    }
  }
  .list__hero {
    padding: 20px;
    height: 20vh;
  }
  .list__info {
    padding: 20px;
    color: var(--text-color);
    h2,
    h3,
    h5{
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      -webkit-transition: transform 0.5 ease-out;
      transition: transform 0.5s ease-out;
    }
  }
  h2 {
    font-size: 1.2rem;
    margin-bottom: .3rem;
  }
  h5 {
    line-height: 1.5;
    font-size: .8rem;
    font-weight: 100;
    margin-bottom: 0;
  }
 
}
